<%
if (theme.index.slogan.enable) {
  page.subtitle = theme.index.slogan.text || config.subtitle || ''
}
page.banner_img = theme.index.banner_img
page.banner_img_height = theme.index.banner_img_height
page.banner_mask_alpha = theme.index.banner_mask_alpha
%>

<% page.posts.each(function (post) { %>
  
   <div class="row mx-auto index-card">
    <% var post_url = url_for(post.path), index_img = post.index_img || theme.post.default_index_img %>
      <div class="col-12 col-md-2 mx-auto index-img ">
        <% if(theme.index.post_meta.date ) { %>
          <span   class="post-meta  ">
            <i class="iconfont icon-date"></i>
            <time datetime="<%= full_date(post.date, 'YYYY-MM-DD HH:mm') %>" pubdate>
              <%- date(post.date, config.date_format) %>
            </time>
          </span>
        <% } %>
      </div>
    
    <article class="col-12 col-md-10 mx-auto index-info">
      <div class="row" >
      <div class="col-12  post-metas">
        <% if (theme.index.post_sticky && theme.index.post_sticky.enable && post.sticky > 0) { %>
          <i class="index-pin <%= theme.index.post_sticky && theme.index.post_sticky.icon %>" title="Pin on top"></i>
        <% } %>
        <a href="<%- post_url %>" target="<%- theme.index.post_url_target %>">
          <%= post.title %>
        </a>
      </div>

      <div  class="col-xs-6 col-sm-6 index-excerpt">
         
          <% var excerpt = '' %>
          <% if(post.description) { %>
            <% excerpt = post.description %>
          <% } else if(post.excerpt){ %>
            <% excerpt = strip_html(post.excerpt).substr(0, 60) %>
          <% } else if(theme.index.auto_excerpt.enable){ %>
            <% excerpt = strip_html(post.content).substr(0, 60) %>
          <% } %>
          <%- excerpt %>
      </div> 
        
      <!-- <div  class="col-xs-6 col-sm-2 index-excerpt ">
          <% if(theme.index.post_meta.category && post.categories.length > 0) { %>
            <span  class="post-meta ">
              <i class="iconfont icon-category"></i>
              <% post.categories.each(function(cate){ %>
                <a   href="<%= url_for(cate.path) %>"><%- cate.name %></a>
              <% }) %>
            </span> </div>
          <% } %>
          <% if(theme.index.post_meta.tag && post.tags.length > 0) { %>
            <div  class="col-xs-6 col-sm-4 index-excerpt">
              <i class="iconfont icon-tags"></i>
              <% post.tags.each(function(tag){ %>
                <a href="<%= url_for(tag.path) %>"><%- tag.name %></a>
              <% }) %>
            </div>
          <% } %>
      
      

    </div> -->
    </article>
  </div>
<% }) %>

<%
var min_font = theme.tag.tagcloud.min_font || 15
var max_font = theme.tag.tagcloud.max_font || 30
var unit = theme.tag.tagcloud.unit || 'px'
var start_color = theme.tag.tagcloud.start_color || '#BBBBEE'
var end_color = theme.tag.tagcloud.end_color || '#337ab7'
%>
<div class="index-excerpt"><a href="/tags/"><i class="iconfont icon-tags"></i>Tags:</a></div>
<div class="text-center tagcloud">
  
  <%- tagcloud({
    min_font: min_font,
    max_font: max_font,
    amount: 999,
    unit: unit,
    color: true,
    start_color,
    end_color
  }) %>
</div>

<%- partial('_partial/paginator') %>
